<div class="form_item_block">
    <label>Go Server Url:</label>
    <input type="text" ng-model="go_server_url" ng-required="true" tabindex="1" />
    <span class="form_error" ng-show="GOINPUTNAME[go_server_url].$error.server">{{ GOINPUTNAME[go_server_url].$error.server }}</span>
</div>

<div class="form_item_block">
    <label>Username:</label>
    <input type="text" ng-model="guest_username" ng-required="true" tabindex="1" />
    <span class="form_error" ng-show="GOINPUTNAME[guest_username].$error.server">{{ GOINPUTNAME[guest_username].$error.server }}</span>
</div>

<div class="form_item_block">
    <label>Display name:</label>
    <input type="text" ng-model="guest_user_display_name" ng-required="true" tabindex="2" />
    <span class="form_error" ng-show="GOINPUTNAME[guest_user_display_name].$error.server">{{ GOINPUTNAME[guest_user_display_name].$error.server }}</span>
</div>

<div class="form_item_block">
    <label>Email address:</label>
    <input type="text" ng-model="guest_user_email_address" ng-required="true" tabindex="3" />
    <span class="form_error" ng-show="GOINPUTNAME[guest_user_email_address].$error.server">{{ GOINPUTNAME[guest_user_email_address].$error.server }}</span>
</div>
