<div class="form_item_block">
    <label>Username:</label>
    <input type="text" ng-model="GUEST_USER_USERNAME" ng-required="true" tabindex="1" />
    <span class="form_error" ng-show="GOINPUTNAME[GUEST_USER_USERNAME].$error.server">{{ GOINPUTNAME[GUEST_USER_USERNAME].$error.server }}</span>
</div>

<div class="form_item_block">
    <label>Display name:</label>
    <input type="text" ng-model="GUEST_USER_DISPLAY_NAME" ng-required="true" tabindex="2" />
    <span class="form_error" ng-show="GOINPUTNAME[GUEST_USER_DISPLAY_NAME].$error.server">{{ GOINPUTNAME[GUEST_USER_DISPLAY_NAME].$error.server }}</span>
</div>

<div class="form_item_block">
    <label>Email address:</label>
    <input type="text" ng-model="GUEST_USER_EMAIL" ng-required="true" tabindex="3" />
    <span class="form_error" ng-show="GOINPUTNAME[GUEST_USER_EMAIL].$error.server">{{ GOINPUTNAME[GUEST_USER_EMAIL].$error.server }}</span>
</div>
